section#about.py-5.bg-white
  .container.py-5.text-center
    h2.display-4.m-0 About
    .w-sm-75.mx-auto
      p.lead 30+ years of construction experience in Western North Carolina
  .container.my-4
    .row
      .col-md-4.offset-md-1.mb-4
        img.img-fluid.border.shadow(
          alt=company.owner
          src="/img/steve-wallin.jpg"
        )
      .col-md-6.mb-4
        p.lead Custom Homes of Asheville is the culmination of Steve Wallin's years of experience. His grandfather was a carpenter and wood worker and passed along this love of construction to Steve.
        p After finishing College, Steve was a math and science teacher for seven years.  After leaving the teaching profession, Steve owned and operated a local sawmill for a couple of years before entering the world of materials and purchasing management for 10 years; working for two Fortune 500 companies.

        p All along, though, Steve was well aware of his love for construction and woodworking.  Steve eventually obtained General Contractor’s license and began building homes in 2001.  By 2004, Steve built up enough courage to “quit his day job” and move into new home construction full time.  Steve was awarded Builder of the Year by the Asheville Home Builders Association in 2012, and served as the President of the Asheville Home Builders Association in 2013. Steve’s experience specifically includes traditional, log and timber frame homes.

        //- p Custom Homes of Asheville, Inc. is licensed under NC license #70690, with a “Building” classification; meaning that we are able to build both residential and commercial structures.  However, the majority of our work is residential construction.  Also, Custom Homes of Asheville, Inc. maintains an “intermediate” level license; meaning that we can build any single structure costing up to $1,000,000.  Most of our homes range from $250,000 to $700,000, but we occasionally build homes outside of this price range.

