.py-4.bg-dark.text-light
  .container.py-4
    .w-sm-50.mx-auto.text-center
      h2.display-3.my-5 Contact Us
      .row.my-5
        .col-md-4.offset-md-2
          h2.lead Call
          h4= company.phone
        .col-md-4
          h2.lead Email
          h4= company.email
