.jumbotron.jumbotron-fluid.bg-light.mb-0(
  style=`
    background-image: url(/img/hero-bg--light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  `
)
  .container.text-center.py-5
    p
      a(href="/")
        img.img-fluid.border.shadow(
          alt=company.name
          src="/img/logo.jpg"
        )
    .mx-auto.w-75.my-5
      p.lead Whether you are interested in a brand new home, or remodeling or adding onto your existing home, Custom Homes of Asheville provides the services you need, the quality you desire, and the honesty and integrity you deserve.
      p.my-5
        a.btn.btn-primary.btn-lg(href="#contact") Contact Us
