section.py-5.bg-white
  .container.py-5.text-center
    h2.display-4.m-0 Services
    .w-75.mx-auto
      //- p.lead The quality you desire and the honesty you deserve
      p.lead Whether you are interested in a brand new home, or remodeling or adding onto your existing home, Custom Homes of Asheville provides the services you need, the quality you desire, and the honesty and integrity you deserve.
  .container.my-4
    .row.text-center
      .col-lg-3.col-md-6.mb-4
        .bg-light.p-4
          i.fa.fa-3x.fa-calendar-o.text-muted.my-3
          h3.mb-4.font-weight-light Experience
          p Over 30 years of experience in the construction industry in Western North Carolina
      .col-lg-3.col-md-6.mb-4
        .bg-light.p-4
          i.fa.fa-3x.fa-pencil-square-o.text-muted.my-3
          h3.mb-4.font-weight-light Design
          p Work with local drafting, interior design, and landscape professionals
      .col-lg-3.col-md-6.mb-4
        .bg-light.p-4
          i.fa.fa-3x.fa-handshake-o.text-muted.my-3
          h3.mb-4.font-weight-light One-on-One
          p A local family builder who personally manages your construction project
      .col-lg-3.col-md-6.mb-4
        .bg-light.p-4
          i.fa.fa-3x.fa-check-square-o.text-muted.my-3
          h3.mb-4.font-weight-light Satisfaction
          p We continuously strive to achieve 100% customer satisfaction
  .container.py-5.my-5
    .text-center.w-25.mx-auto
      include /_cta-get-in-touch
