extends /layout

block main
  section#hero
    include /_hero
  section#services
    include /_services
  section#work
    include /_work
  include /_cta-contact
  section#about
    include /_about
  section#contact
    include /_contact
